.App {
  max-height: 100vh;
}

.AppHeader {
  font-size: calc(10px + 2vmin);
}

/* Hack to hide day numbers */
.Cell-dayOfMonth {
  display: none !important;
}

.Note {
  font-style: italic;
  font-size: 8px;
}
